/* 개발 완료시 삭제 예정 */
div {
    border: 1px solid red;
}

p {
    font-size: 14px;
}

/* 유지할 부분*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    background-color: #242424;
}

.wrapperWithImg {
    display: flex;
    justify-content: space-between;
}

.contentBox {
    display: flex;
    justify-content: space-between;
}

.contentFooter {
    display: flex;
    justify-content: space-between;
}
